body{
  background-image: url('./assest/weatherApp.jpg');
  background-size: cover;
   
}

header {
   color: white;
  height: 100px;
  text-align: center;
  margin-top: -75px;
  position: sticky;
}

.top{
  background-color: blue;
  background-image: linear-gradient(#12124b, navy);
  height: 100px;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 0px;
  position: sticky;

}

h3{
  color: whitesmoke;
  font-weight: 700;
}

textarea {
  color: whitesmoke;
}

.input {
  border-bottom: solid whitesmoke;
}

.city {
  border: whitesmoke;
}

#leadWeatherBox {
  border: 2px solid whitesmoke;
  text-align: left;
  margin-left: 25px;
  width: 80%;
  color: whitesmoke;
}

#currentDay {
  font-size: 30px;
  font-weight: 700;
}

.cityName {
  font-size: 20px;
  font-weight: 700;
}

.weatherCurrent{
  font-size: 20px;
  font-weight: 700;
}

.low {
  background-color: green;
  width: 100px;
}

.moderate {
  background-color: yellow;
  width: 100px;
}

.high {
  background-color: orange;
  width: 100px;
}

.veryHigh {
  background-color: red;
  width: 100px;
}

.card {
  width: 90%;
  margin: 15px;
  justify-content: space-evenly;
  border-spacing: 30px;
  padding: 10px 10px 10px 10px;
  }

.cityBtn {
  text-align: center;
  margin-left: 75px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submitBtn {
  width: 200px;
  margin-left: 75px;
  margin-bottom: 5px;
  text-align: center;
  color: whitesmoke;
}

#Name,
.weatherCurrent,
#currentDay {
  margin-left: 20px;
}

#Name,
#currentDay {
  font-size: 25px;
}
